In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df=pd.read_csv(r"C:/Users/sss/Downloads/loandata.csv")
df

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/sss/Downloads/loandata.csv'

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [15]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ApplicantIncome,614.0,5403.459283,6109.041673,150.0,2877.5,3812.5,5795.00,81000.0
CoapplicantIncome,614.0,1621.245798,2926.248369,0.0,0.0,1188.5,2297.25,41667.0
LoanAmount,592.0,146.412162,85.587325,9.0,100.0,128.0,168.00,700.0
Loan_Amount_Term,600.0,342.000000,65.120410,12.0,360.0,360.0,360.00,480.0
Credit_History,564.0,0.842199,0.364878,0.0,1.0,1.0,1.00,1.0

# Outliers
- Any data is out of wiskers are known as outliers.

## Finding IQR-inter quantile range

In [79]:
df['ApplicantIncome'].head()

0    150
1    210
2    416
3    645
4    674
Name: ApplicantIncome, dtype: int64

In [80]:
Q1=np.quantile(df['ApplicantIncome'],0.25)
Q1

2877.5

In [81]:
Q2=np.quantile(df['ApplicantIncome'],0.50)
Q2

3812.5

In [82]:
df['ApplicantIncome'].median()

3812.5

In [83]:
Q3=np.quantile(df['ApplicantIncome'],0.75)
Q3

5795.0

In [84]:
IQR=Q3-Q1
IQR

2917.5

In [85]:
Lower_boundary=Q1 - 1.5 * IQR
Lower_boundary

-1498.75

In [86]:
Upper_boundary=Q3 + 1.5 * IQR
Upper_boundary

10171.25

In [87]:
# finding how many outliers is there in the particular data
len(df[df['ApplicantIncome']>Upper_boundary])

50

In [88]:
# finding how many outliers is there in the particular data based on condition
len(df[df['ApplicantIncome']<Lower_boundary])

0

In [89]:
df[df['ApplicantIncome']>Upper_boundary].head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
564,LP001422,Female,No,0,Graduate,No,10408,0.0,259.0,360.0,1.0,Urban,Y
565,LP002403,Male,No,0,Graduate,Yes,10416,0.0,187.0,360.0,0.0,Urban,N
566,LP001451,Male,Yes,1,Graduate,Yes,10513,3850.0,160.0,180.0,0.0,Urban,N
567,LP001233,Male,Yes,1,Graduate,No,10750,0.0,312.0,360.0,1.0,Urban,Y
568,LP002541,Male,Yes,0,Graduate,No,10833,0.0,234.0,360.0,1.0,Semiurban,Y

In [90]:
# removing outliers using condition
len(df.loc[(df['ApplicantIncome']>Lower_boundary)&(df['ApplicantIncome']<Upper_boundary)])

564

In [91]:
# removing outliers using condition
len(df.loc[~((df['ApplicantIncome']<Lower_boundary)|(df['ApplicantIncome']>Upper_boundary))])

564

In [30]:
len(df)-50

564

In [31]:
# outliers for loan amount column
df['LoanAmount'].head()

0    135.0
1     98.0
2    350.0
3    113.0
4    168.0
Name: LoanAmount, dtype: float64

In [32]:
df['LoanAmount'].isnull().sum()

22

In [33]:
Q1=np.quantile(df['LoanAmount'],0.25)
Q2=np.quantile(df['LoanAmount'],0.50)
Q3=np.quantile(df['LoanAmount'],0.75)

In [34]:
def outlier_detection(col,df_name):
    Q1=np.quantile(col,0.25)
    Q2=np.quantile(col,0.50)
    Q3=np.quantile(col,0.75)
    # calculating IQR
    IQR = Q3-Q1
    # lower boundary
    Lower_boundary = Q1 - (1.5*IQR)
    # upper boundary 
    Upper_boundary = Q3 + (1.5*IQR)
    result = df_name.loc[(col<Lower_boundary)|(col>Upper_boundary)]
    print(f" Total number of outliers in {col} is {result}")
    return result

In [35]:
outlier_detection(df['LoanAmount'],df)

 Total number of outliers in 0      135.0
1       98.0
2      350.0
3      113.0
4      168.0
       ...
609    120.0
610    600.0
611    700.0
612    490.0
613    360.0
Name: LoanAmount, Length: 614, dtype: float64 is Empty DataFrame
Columns: [Loan_ID, Gender, Married, Dependents, Education, Self_Employed, ApplicantIncome, CoapplicantIncome, LoanAmount, Loan_Amount_Term, Credit_History, Property_Area, Loan_Status]
Index: []

Empty DataFrame
Columns: [Loan_ID, Gender, Married, Dependents, Education, Self_Employed, ApplicantIncome, CoapplicantIncome, LoanAmount, Loan_Amount_Term, Credit_History, Property_Area, Loan_Status]
Index: []

### Removing missing values in data

In [36]:
df2=df.dropna()
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            480 non-null    object
 1   Gender             480 non-null    object
 2   Married            480 non-null    object
 3   Dependents         480 non-null    object
 4   Education          480 non-null    object
 5   Self_Employed      480 non-null    object
 6   ApplicantIncome    480 non-null    int64
 7   CoapplicantIncome  480 non-null    float64
 8   LoanAmount         480 non-null    float64
 9   Loan_Amount_Term   480 non-null    float64
 10  Credit_History     480 non-null    float64
 11  Property_Area      480 non-null    object
 12  Loan_Status        480 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 52.5+ KB

# group by

In [37]:
df2['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [38]:
df2['Gender'].value_counts()

Male      394
Female     86
Name: Gender, dtype: int64

In [39]:
df2.groupby(by=['Gender']).mean() # we have to pass only categorical data inside groupby

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
Gender,,,,,
Female,4968.593023,706.988372,127.697674,354.418605,0.837209
Male,5450.588832,1771.888122,148.454315,339.350254,0.857868

In [40]:
df2.groupby(by=['Gender'])

In [41]:
df2[df2['Gender']=='Female']['ApplicantIncome'].mean()

4968.593023255814

In [42]:
df2[df2['Gender']=='Male']['ApplicantIncome'].mean()

5450.588832487309

In [43]:
df2.set_index('Gender')

,Loan_ID,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
Gender,,,,,,,,,,,,
Male,LP001722,Yes,0,Graduate,No,150,1800.0,135.0,360.0,1.0,Rural,N
Female,LP002603,No,0,Graduate,No,645,3683.0,113.0,480.0,1.0,Rural,Y
Male,LP001259,Yes,1,Graduate,Yes,1000,3022.0,110.0,360.0,1.0,Urban,N
Male,LP002345,Yes,0,Graduate,No,1025,2773.0,112.0,360.0,1.0,Rural,Y
Male,LP001030,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
Male,LP001637,Yes,1,Graduate,No,33846,0.0,260.0,360.0,1.0,Semiurban,N
Male,LP002422,No,1,Graduate,No,37719,0.0,152.0,360.0,1.0,Semiurban,Y
Male,LP001640,Yes,0,Graduate,Yes,39147,4750.0,120.0,360.0,1.0,Semiurban,Y
Male,LP001536,Yes,3+,Graduate,No,39999,0.0,600.0,180.0,0.0,Semiurban,Y
Male,LP002317,Yes,3+,Graduate,No,81000,0.0,360.0,360.0,0.0,Rural,N

In [44]:
df2.groupby(by=['Married']).mean()[['ApplicantIncome','CoapplicantIncome']]

         ApplicantIncome  CoapplicantIncome
Married
No           5082.195266        1215.893491
Yes          5517.491961        1779.546367

In [45]:
df2.groupby(by=['Married']).mean()['ApplicantIncome']

Married
No     5082.195266
Yes    5517.491961
Name: ApplicantIncome, dtype: float64

In [46]:
df2.groupby(by=['Married','Gender']).mean()[['ApplicantIncome','CoapplicantIncome']]

                ApplicantIncome  CoapplicantIncome
Married Gender
No      Female      4844.836066         482.245902
        Male        5216.259259        1630.268519
Yes     Female      5270.560000        1255.360000
        Male        5539.076923        1825.366853

In [47]:
df.groupby(['Gender','Married'])['Gender'].count()

Gender  Married
Female  No          80
        Yes         31
Male    No         130
        Yes        357
Name: Gender, dtype: int64

In [48]:
df.groupby(['Gender','Married']).agg(['count','mean','min','max'])

C:\Users\sss\AppData\Local\Temp\ipykernel_18148\885834092.py:1: FutureWarning: ['Loan_ID', 'Dependents', 'Education', 'Self_Employed', 'Property_Area', 'Loan_Status'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.groupby(['Gender','Married']).agg(['count','mean','min','max'])

               ApplicantIncome                           CoapplicantIncome  \
                         count         mean   min    max             count
Gender Married
Female No                   80  4503.787500   416  18165                80
       Yes                  31  4829.645161   210  19484                31
Male   No                  130  5236.146154  1442  37719               130
       Yes                 357  5529.540616   150  81000               357

                                          LoanAmount                           \
                       mean  min      max      count        mean   min    max
Gender Married
Female No       1020.012500  0.0  41667.0         78  116.115385   9.0  350.0
       Yes      1370.838710  0.0   4486.0         31  153.322581  36.0  600.0
Male   No       1529.430769  0.0  33837.0        125  136.088000  25.0  650.0
       Yes      1828.330308  0.0  20000.0        343  154.011662  17.0  600.0

               Loan_Amount_Term                          Credit_History  \
                          count        mean   min    max          count
Gender Married
Female No                    77  355.012987  36.0  480.0             73
       Yes                   31  349.161290  84.0  480.0             27
Male   No                   128  348.562500  36.0  480.0            123
       Yes                  348  335.931034  12.0  480.0            326


                    mean  min  max
Gender Married
Female No       0.821918  0.0  1.0
       Yes      0.851852  0.0  1.0
Male   No       0.845528  0.0  1.0
       Yes      0.846626  0.0  1.0

In [49]:
df.groupby(['Gender','Married']).agg(['count','mean','min','max'])[['ApplicantIncome','CoapplicantIncome']]

C:\Users\sss\AppData\Local\Temp\ipykernel_18148\4092184449.py:1: FutureWarning: ['Loan_ID', 'Dependents', 'Education', 'Self_Employed', 'Property_Area', 'Loan_Status'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.groupby(['Gender','Married']).agg(['count','mean','min','max'])[['ApplicantIncome','CoapplicantIncome']]

               ApplicantIncome                           CoapplicantIncome  \
                         count         mean   min    max             count
Gender Married
Female No                   80  4503.787500   416  18165                80
       Yes                  31  4829.645161   210  19484                31
Male   No                  130  5236.146154  1442  37719               130
       Yes                 357  5529.540616   150  81000               357


                       mean  min      max
Gender Married
Female No       1020.012500  0.0  41667.0
       Yes      1370.838710  0.0   4486.0
Male   No       1529.430769  0.0  33837.0
       Yes      1828.330308  0.0  20000.0

In [50]:
import warnings # for not getting warnings
warnings.filterwarnings('ignore')

### crosstab

In [51]:
pd.crosstab(df2['Gender'],df2['Married'])

Married   No  Yes
Gender
Female    61   25
Male     108  286

In [52]:
df2.groupby(['Gender','Married'])['Gender'].count()

Gender  Married
Female  No          61
        Yes         25
Male    No         108
        Yes        286
Name: Gender, dtype: int64

In [53]:
pd.crosstab(df2['Gender'],df2['Married'],values=df2['ApplicantIncome'],aggfunc='mean')

Married           No          Yes
Gender
Female   4844.836066  5270.560000
Male     5216.259259  5539.076923

### pivot table

In [54]:
df2.pivot_table(values='ApplicantIncome',index='Gender',columns='Married',aggfunc='mean')

Married           No          Yes
Gender
Female   4844.836066  5270.560000
Male     5216.259259  5539.076923

In [55]:
type(df2['ApplicantIncome'])

pandas.core.series.Series

In [56]:
a=df2['ApplicantIncome']
for i in a>10000:
    print(i,a+10000)

False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64

False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64

False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64

False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
False 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64
True 0      10150
3      10645
5      11000
6      11025
8      11299
       ...
607    43846
608    47719
609    49147
610    49999
613    91000
Name: ApplicantIncome, Length: 480, dtype: int64

In [57]:
a=[]
for i in df2['ApplicantIncome']:
    if i>10000:
        i=i+10000
        a.append(i)
    else:
        a.append(i)

In [58]:
df2['update_income']=a

In [59]:
df2

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,update_income
0,LP001722,Male,Yes,0,Graduate,No,150,1800.0,135.0,360.0,1.0,Rural,N,150
3,LP002603,Female,No,0,Graduate,No,645,3683.0,113.0,480.0,1.0,Rural,Y,645
5,LP001259,Male,Yes,1,Graduate,Yes,1000,3022.0,110.0,360.0,1.0,Urban,N,1000
6,LP002345,Male,Yes,0,Graduate,No,1025,2773.0,112.0,360.0,1.0,Rural,Y,1025
8,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y,1299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,LP001637,Male,Yes,1,Graduate,No,33846,0.0,260.0,360.0,1.0,Semiurban,N,43846
608,LP002422,Male,No,1,Graduate,No,37719,0.0,152.0,360.0,1.0,Semiurban,Y,47719
609,LP001640,Male,Yes,0,Graduate,Yes,39147,4750.0,120.0,360.0,1.0,Semiurban,Y,49147
610,LP001536,Male,Yes,3+,Graduate,No,39999,0.0,600.0,180.0,0.0,Semiurban,Y,49999
613,LP002317,Male,Yes,3+,Graduate,No,81000,0.0,360.0,360.0,0.0,Rural,N,91000

In [60]:
# using list comprehension
[i+10000 if i>10000 else i for i in df2['ApplicantIncome']]

[150,
 645,
 1000,
 1025,
 1299,
 1378,
 1442,
 1500,
 1538,
 1600,
 1625,
 1668,
 1759,
 1782,
 1800,
 1800,
 1809,
 1811,
 1820,
 1836,
 1853,
 1863,
 1875,
 1926,
 1928,
 1958,
 1963,
 1977,
 1993,
 2014,
 2014,
 2031,
 2045,
 2060,
 2071,
 2083,
 2130,
 2132,
 2137,
 2138,
 2149,
 2165,
 2167,
 2178,
 2192,
 2213,
 2221,
 2237,
 2239,
 2253,
 2281,
 2297,
 2301,
 2309,
 2330,
 2333,
 2333,
 2333,
 2346,
 2366,
 2378,
 2378,
 2383,
 2400,
 2400,
 2423,
 2425,
 2435,
 2439,
 2454,
 2479,
 2479,
 2483,
 2484,
 2491,
 2499,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2507,
 2510,
 2526,
 2577,
 2583,
 2583,
 2600,
 2600,
 2600,
 2600,
 2600,
 2609,
 2620,
 2625,
 2645,
 2647,
 2653,
 2661,
 2666,
 2666,
 2679,
 2698,
 2708,
 2717,
 2718,
 2726,
 2750,
 2755,
 2768,
 2785,
 2787,
 2799,
 2833,
 2876,
 2882,
 2889,
 2895,
 2900,
 2917,
 2917,
 2920,
 2927,
 2935,
 2947,
 2957,
 2958,
 2965,
 2971,
 2995,
 3000,
 3000,
 3000,
 3015,
 3029,
 3033,
 3036,
 3052,
 3062,
 3069,
 3073,
 3075,
 3083,
 3083,
 3086,
 3089,
 3095,
 3100,
 3103,
 3125,
 3153,
 3155,
 3158,
 3159,
 3159,
 3166,
 3166,
 3167,
 3167,
 3167,
 3173,
 3173,
 3180,
 3200,
 3200,
 3208,
 3229,
 3232,
 3237,
 3244,
 3246,
 3250,
 3254,
 3273,
 3283,
 3315,
 3316,
 3326,
 3333,
 3333,
 3340,
 3357,
 3358,
 3366,
 3399,
 3400,
 3400,
 3400,
 3406,
 3417,
 3418,
 3427,
 3430,
 3450,
 3459,
 3466,
 3466,
 3481,
 3497,
 3500,
 3500,
 3500,
 3510,
 3510,
 3522,
 3547,
 3588,
 3593,
 3597,
 3598,
 3600,
 3617,
 3620,
 3625,
 3660,
 3667,
 3675,
 3676,
 3691,
 3704,
 3708,
 3717,
 3727,
 3748,
 3750,
 3750,
 3750,
 3750,
 3762,
 3775,
 3800,
 3812,
 3814,
 3833,
 3846,
 3850,
 3858,
 3859,
 3859,
 3867,
 3875,
 3887,
 3900,
 3902,
 3917,
 3927,
 3941,
 3948,
 3975,
 3987,
 3988,
 3993,
 4000,
 4000,
 4000,
 4006,
 4009,
 4053,
 4095,
 4106,
 4124,
 4133,
 4160,
 4166,
 4166,
 4166,
 4166,
 4167,
 4180,
 4188,
 4191,
 4200,
 4226,
 4230,
 4281,
 4283,
 4288,
 4300,
 4300,
 4301,
 4333,
 4333,
 4333,
 4342,
 4344,
 4350,
 4354,
 4384,
 4400,
 4408,
 4547,
 4554,
 4566,
 4583,
 4583,
 4583,
 4583,
 4583,
 4583,
 4600,
 4606,
 4608,
 4616,
 4652,
 4666,
 4683,
 4691,
 4692,
 4707,
 4708,
 4723,
 4750,
 4817,
 4843,
 4860,
 4865,
 4885,
 4887,
 4895,
 4917,
 4923,
 4950,
 5000,
 5000,
 5000,
 5000,
 5042,
 5166,
 5167,
 5185,
 5250,
 5266,
 5285,
 5316,
 5391,
 5417,
 5417,
 5468,
 5488,
 5500,
 5500,
 5516,
 5532,
 5568,
 5649,
 5677,
 5695,
 5703,
 5703,
 5708,
 5726,
 5780,
 5800,
 5815,
 5818,
 5819,
 5821,
 5829,
 5923,
 5935,
 5941,
 5955,
 6000,
 6000,
 6000,
 6000,
 6033,
 6045,
 6050,
 6065,
 6096,
 6125,
 6133,
 6216,
 6250,
 6250,
 6250,
 6250,
 6277,
 6283,
 6325,
 6383,
 6400,
 6400,
 6406,
 6417,
 6500,
 6540,
 6608,
 6700,
 6783,
 6822,
 6875,
 6950,
 7085,
 7100,
 7142,
 7167,
 7200,
 7441,
 7583,
 7660,
 7740,
 7787,
 7901,
 7933,
 7948,
 8000,
 8072,
 8080,
 8300,
 8333,
 8333,
 8333,
 8333,
 8334,
 8566,
 8624,
 8666,
 8750,
 8750,
 8799,
 9083,
 9166,
 9167,
 9323,
 9323,
 9328,
 9504,
 9508,
 9538,
 9560,
 9703,
 9963,
 10000,
 10000,
 10000,
 20139,
 20408,
 20416,
 20513,
 20750,
 20833,
 21000,
 21146,
 21417,
 21500,
 21757,
 22000,
 22000,
 22500,
 22841,
 23262,
 24583,
 24583,
 24683,
 24866,
 24880,
 24999,
 25000,
 25759,
 26120,
 26250,
 26525,
 26666,
 26667,
 27263,
 27500,
 28165,
 28333,
 29484,
 29730,
 30233,
 43846,
 47719,
 49147,
 49999,
 91000]

In [61]:
df2['Gender']

0        Male
3      Female
5        Male
6        Male
8        Male
        ...
607      Male
608      Male
609      Male
610      Male
613      Male
Name: Gender, Length: 480, dtype: object

In [62]:
[0 if i=="Male" else 1 for i in df2['Gender']]

[0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [63]:
df2['Gender'].map({'Male':0,'Female':1})

0      0
3      1
5      0
6      0
8      0
      ..
607    0
608    0
609    0
610    0
613    0
Name: Gender, Length: 480, dtype: int64

In [64]:
def newgender(x):
    if x=='Male':
        return 0
    else:
        return 1

In [65]:
newgender('Female')

1

### apply()

In [66]:
df2['Gender'].apply(newgender) #converting any values into another values

0      0
3      1
5      0
6      0
8      0
      ..
607    0
608    0
609    0
610    0
613    0
Name: Gender, Length: 480, dtype: int64

In [67]:
df2['ApplicantIncome'].max()

81000

In [68]:
df2['ApplicantIncome'].min()

150

In [69]:
df2['ApplicantIncome'].mean()

5364.23125

In [70]:
np.quantile(df2['ApplicantIncome'],0.95)

14583.0

In [71]:
for i in df2['ApplicantIncome']:
    if i<5500:
        print("Lower")
    elif i>5500 and i<14500:
        print("Middle")
    elif i>14500:
        print("Higher")

Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Lower
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Middle
Higher
Higher
Higher
Higher
Higher
Higher
Higher
Higher
Higher
Higher
Higher
Higher
Higher
Higher
Higher
Higher
Higher
Higher
Higher
Higher
Higher
Higher
Higher
Higher
Higher

### cut()

In [72]:
# bins is nothing but range
pd.cut(df2['ApplicantIncome'],bins=[0,5500,14500,81000],labels=['Lower','Middle','Higher'])

0       Lower
3       Lower
5       Lower
6       Lower
8       Lower
        ...
607    Higher
608    Higher
609    Higher
610    Higher
613    Higher
Name: ApplicantIncome, Length: 480, dtype: category
Categories (3, object): ['Lower' < 'Middle' < 'Higher']

In [73]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 0 to 613
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            480 non-null    object
 1   Gender             480 non-null    object
 2   Married            480 non-null    object
 3   Dependents         480 non-null    object
 4   Education          480 non-null    object
 5   Self_Employed      480 non-null    object
 6   ApplicantIncome    480 non-null    int64
 7   CoapplicantIncome  480 non-null    float64
 8   LoanAmount         480 non-null    float64
 9   Loan_Amount_Term   480 non-null    float64
 10  Credit_History     480 non-null    float64
 11  Property_Area      480 non-null    object
 12  Loan_Status        480 non-null    object
 13  update_income      480 non-null    int64
dtypes: float64(4), int64(2), object(8)
memory usage: 56.2+ KB

In [74]:
df2.iloc[:,[0,1,2,3,4,5,11,12]]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,Property_Area,Loan_Status
0,LP001722,Male,Yes,0,Graduate,No,Rural,N
3,LP002603,Female,No,0,Graduate,No,Rural,Y
5,LP001259,Male,Yes,1,Graduate,Yes,Urban,N
6,LP002345,Male,Yes,0,Graduate,No,Rural,Y
8,LP001030,Male,Yes,2,Graduate,No,Urban,Y
...,...,...,...,...,...,...,...,...
607,LP001637,Male,Yes,1,Graduate,No,Semiurban,N
608,LP002422,Male,No,1,Graduate,No,Semiurban,Y
609,LP001640,Male,Yes,0,Graduate,Yes,Semiurban,Y
610,LP001536,Male,Yes,3+,Graduate,No,Semiurban,Y
613,LP002317,Male,Yes,3+,Graduate,No,Rural,N

In [75]:
df2.iloc[:,[7,8,9,10]]

     CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History
0               1800.0       135.0             360.0             1.0
3               3683.0       113.0             480.0             1.0
5               3022.0       110.0             360.0             1.0
6               2773.0       112.0             360.0             1.0
8               1086.0        17.0             120.0             1.0
..                 ...         ...               ...             ...
607                0.0       260.0             360.0             1.0
608                0.0       152.0             360.0             1.0
609             4750.0       120.0             360.0             1.0
610                0.0       600.0             180.0             0.0
613                0.0       360.0             360.0             0.0

[480 rows x 4 columns]

### select_dtypes() 
- This type is used select data types

In [76]:
df2.select_dtypes('object')

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,Property_Area,Loan_Status
0,LP001722,Male,Yes,0,Graduate,No,Rural,N
3,LP002603,Female,No,0,Graduate,No,Rural,Y
5,LP001259,Male,Yes,1,Graduate,Yes,Urban,N
6,LP002345,Male,Yes,0,Graduate,No,Rural,Y
8,LP001030,Male,Yes,2,Graduate,No,Urban,Y
...,...,...,...,...,...,...,...,...
607,LP001637,Male,Yes,1,Graduate,No,Semiurban,N
608,LP002422,Male,No,1,Graduate,No,Semiurban,Y
609,LP001640,Male,Yes,0,Graduate,Yes,Semiurban,Y
610,LP001536,Male,Yes,3+,Graduate,No,Semiurban,Y
613,LP002317,Male,Yes,3+,Graduate,No,Rural,N

In [77]:
df2.select_dtypes('int')

     ApplicantIncome  update_income
0                150            150
3                645            645
5               1000           1000
6               1025           1025
8               1299           1299
..               ...            ...
607            33846          43846
608            37719          47719
609            39147          49147
610            39999          49999
613            81000          91000

[480 rows x 2 columns]

In [78]:
df2.select_dtypes('float')

     CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History
0               1800.0       135.0             360.0             1.0
3               3683.0       113.0             480.0             1.0
5               3022.0       110.0             360.0             1.0
6               2773.0       112.0             360.0             1.0
8               1086.0        17.0             120.0             1.0
..                 ...         ...               ...             ...
607                0.0       260.0             360.0             1.0
608                0.0       152.0             360.0             1.0
609             4750.0       120.0             360.0             1.0
610                0.0       600.0             180.0             0.0
613                0.0       360.0             360.0             0.0

[480 rows x 4 columns]

In [ ]:
data = np.random.normal()

In [ ]:
# # removing outliers using pareto distributions
# charges_transformed = stats.boxcox(clean_df["charges"])[0]
# l=stats.boxcox(clean_df["charges"])[1]
# clean_df["charges"] = charges_transformed
# print(l)

In [ ]:
# removing outliers using log norm distributions
#clean_df["charges"] = np.log(df["charges"])